/* Add CSS styling here */
.project .projpix {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .project .projpix .item {
    background: lightgray;
    border: 1px solid black;
    margin: 20px;
  }

  .item {
    border: 10px;
    width: 300px;
    height: 300px;
  }

  .item img {
    width: 300px; 
    height: 300px; 
    object-fit: cover;
  }

  .summary{
    margin: 1rem;
    padding: 2rem 2rem;
    display: inline-flex;
  }

  .previmg {
    width: 400px;
    background-color: blue;
    width: 400px; 
    height: 400px; 
    object-fit: cover;
  }

  .summaryText {
    width: 40%;
    display: inline;
    vertical-align: middle;
    text-align: left;
    margin-left: 100px;
    font-size: 20px;
  }

  .header-content {
    background: pink;
    padding: 20px;
    margin: -10px;
  }
  
  .footer-content {
    text-align: center;
    background-color: pink;
    padding-top: 3%;
    padding-bottom: 7%;
    margin: -10px;
  }

  @media only screen and (max-width: 800px) {
    .previmg {
      width: 200px;
      height: 200px;
    }
    .summaryText {
      text-align: center;
    }

    .summary{
      display: block;
      text-align: center;
    }
    
    .header-content
    {
      text-align: center;
    }

    .project .projpix {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .project .projpix .item {
      background: lightgray;
      border: 1px solid black;
      margin: 20px;
    }
  
    .item {
      border: 10px;
      width: 100px;
      height: 100px;
    }
  
    .item img {
      width: 100px; 
      height: 100px; 
      object-fit: cover;
    }

    .header-content .nav
    {
      justify-content: center;
      text-align: center;
      width: 90px;
      margin-left: 110px;
    }
  }

  @media only screen and (max-width: 500px) {
    .previmg {
      width: 200px;
      height: 200px;
    }
    .summaryText {
      text-align: center;
    }

    .summary{
      display: block;
      text-align: center;
    }
    
    .header-content
    {
      text-align: center;
    }

    .project .projpix {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .project .projpix .item {
      background: lightgray;
      border: 1px solid black;
      margin: 20px;
    }
  
    .item {
      border: 10px;
      width: 100px;
      height: 100px;
    }
  
    .item img {
      width: 100px; 
      height: 100px; 
      object-fit: cover;
    }

    .header-content .nav
    {
      justify-content: center;
      text-align: center;
      width: 90px;
      margin-left: 110px;
    }
  }